<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="css/common.css">
    <title>404 Not Found</title>
    <style>
        * {
            background-color: #f6f5f4;
            
        }
        body{
            height:100vh
        }
        a {
            text-decoration:none;
            color:inherit;
        }
    </style>
</head>
<body >
   

      <div class="center padding-404" id="">
          <h1 class="h1-404">404</h1>
          <h5 ><span class="tag wide">Page not found!</span></h5>
          <h5><span class="tag wide"></span>The page you are looking for does not exist or some other error occured.</h5></h5>
          <h5 >Redirect to <span class="tag "><a href="/landing">Home?</a></span></h5>
          
      </div>
     
</body>
</html>