<!DOCTYPE html>
<html>
<title>bookspace</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="css/common.css">
<style>
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../img/addrating.jpg");
  min-height: 65%;
}
</style>
<body>

<%-include('include/_nav')%>
<header class="bgimg display-container grayscale-min" id="home">

</header>

<div class="large">
<div class="container" >
    <div class="content" style="max-width:700px">
   
      <h5 class="center padding-48"><span class="tag wide">Add Rating</span></h5>
    
      <div id= "isbn" class="row center card padding">
              <form action="/rating-details" method="GET" id="add_rating">
                <p style="text-align: center;" id="isbnalert">ISBN fetched 0 results. Please enter valid isbn.</p>
                <p style="text-align: center;" id="alreadyratedalert">You have already rated this book. If you wish to update the rating, please go the home page.</p>
                <p><input class="input padding-16 border" type="text" placeholder="Enter ISBN" required name="id"></p>
                <p><button class="button black" type="submit">Go</button></p>
              </form>
              
            </div>
            
    </div>
  </div>
<div style="padding-bottom:32px;">
</div>
</div>

<%-include('include/_footer')%>