<style>
   
  @media screen and (min-width: 900px) {
  .col {
    width: 15%
  }
}
@media screen and (min-width: 500px) and (max-width:900px){
  .col {
    width: 33%
  }
}
    
        </style>
    
    
    <div class="top">
        <div class="row padding black">
          <div class="col">
            <a  href="/landing" class="button block black">Home</a>
          </div>
          <div class="col">
            <a  href="/basic-search" class="button block black">Basic Search</a>
          </div>
          <div class="col">
            <a href="/adv-search" class="button block black">Advanced Search</a>
          </div>
        </div>
      </div>