<style>
   
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

@media screen and (min-width: 900px) {
  .col {
    width: 15%
  }
}
@media screen and (min-width: 500px) and (max-width:900px){
  .col {
    width: 33%
  }
}

    </style>


  <div class="top">
    <div class="row padding black center ">  
        <ul>
            <li class="col"><a href="/landing"  class="button block black">Home</a></li>
            <li class="col"><a href="/add-rating" class="button block black">Add Rating</a>
            </li>
            
              <li class="col"><a  href="/basic-search" class="button block black">Basic Search</a></li>
              <li class="col"><a href="/adv-search" class="button block black">Advanced Search</a></li>
            <li class="col"><a href="/logout" class="button block black">Logout</a></li>
            
        </ul>
  
    </div>
  </div>